/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html{
  background-color: whitesmoke;
}

/* .main-view{
  width: 100vw;
} */

/* 베이지색 dad7cd
1. 녹색 a3b18a
2. 588157
3. 3a5a40
4. 344e41 */
