@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.Login-container {
  font-family: 'GmarketSans';
  height: 100vh;
  overflow: hidden;

  background-image: url(images/plant.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Login-account-wrap {
  position: absolute;
  height: 60%;
  width: 25%;
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid rgba(225, 225, 225, 0.5);
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  animation: Login-slidein 0.6s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes Login-slidein {
  from {
    opacity: 0;
    transform: translateY(3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.Login-account {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.Login-account-arrow {
  cursor: pointer;
  margin-right: auto;
  margin-left: 12px;
  z-index: 10;

}

.Login-account-arrow:hover {
  animation: bounce 0.5s;
  animation-fill-mode: forwards;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
    /* 왼쪽으로 10px 이동 */
  }
}


.Login-account-login {
  color: white;
  font-size: 1rem;
  margin-right: 42%;

}

.Login-logo {
  /* width: 180px; */
  width: 80%;
  min-width: 100px;
}

.Login-logo:hover {
  filter: blur(2px);
}

.Login-title {
  font-size: 1.35em;
  font-weight: bold;
}

.Login-text {
  font-size: 1em;
  /* margin-top: auto; */
  margin-bottom: 20px;
}

.Login-kakao {
  margin-bottom: 20px;
}

.Login-test {
  height: 150px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-ok {
  font-size: 0.7em;
  color: rgb(225, 225, 225, 0.8);
  margin-bottom: 5px;
}