@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.Login-container {
  /* background-image: url('./images/whitefoolhouse.jpg');
  background-size: cover; */
  /* height: calc(100vh - 53.6px); */
  font-family: 'GmarketSans';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Login-arch {
  width: 300px;
  height: 450px;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid white;
  border-radius: 50% 50% 0% 0% / 35% 35% 0% 0%;
box-shadow: 0 5px 15px rgba(0,0,0,1);
display: flex;
flex-direction: column;
position: relative;
align-items: center;

/* background-color: blue; */
}

.Login-link{
width: 100px;
display: flex;
justify-content: center;
}
.Login-logo{
  width: 50px;
  position: absolute;
  top: 25px;
}

.Login-hr1{
  width: 100px;
  position: absolute;
  top: 56px;
  border: 1px solid black;
}

.Login-circle{
  position: relative;
  /* background-color: red; */

  top: 80px;


}

.Login-circle-side{
  width: 170px;
  height: 170px;

  border: 1px solid black;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Login-circle-img{
  width: 150px;
  height: 150px;
}

.Login-key{
rotate: 90deg;
position: relative;
}

.Login-key-icons{
  top: 50px;
  position: absolute;
}

.Login-circle-img::after{
  content:"메인 홈페이지";
  position: absolute;
  
}
/* .Login-circle-img:hover{
   
} */

.Login-text{
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-main-text{
  font-weight: bold;
  font-size: 18px;
}

.Login-side-text{
  font-size: 14px;
  color: gray;

  margin-top: 10px;
}

.Login-text-hr{
  width: 260px;
  border: 1.5px solid black;
}


.Login-kakao{
  position: absolute;
  bottom: 20px;
  font-family: 'GmarketSans';
}
