@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.Main2-container {
  font-family: 'GmarketSans';
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.Main2-wrap {
  height: 60%;
  position: relative;

}

.Main2-image-wrap {
  overflow: hidden;

  position: relative;

  /* width: 100%; */
  height: 100%;

  background-image: url(images/sofa.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Main2-square {
  border: 2px solid white;
  position: absolute;
  z-index: 20;
  
  height: 90%;
  width: 98%;

  top: 50%; /* 상단을 기준으로 50% 위치로 이동 */
  left: 50%; /* 좌측을 기준으로 50% 위치로 이동 */
  transform: translate(-50%, -50%); /* 요소의 중심을 가운데로 이동 */
}

/* .Main2-image{
  object-fit: cover;
  height: 20vh;
  width: 100vw;
  border: 1px solid blue;
} */

.Main2-text-wrap {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.Main2-text-main {
  font-size: 42px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  /* margin-top: 10%; */

  /* border: 1px solid blue; */

  animation: slidein 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

.Main2-text-btn {
  font-family: 'GmarketSans';
  font-size: 24px;

  width: 600px;
  height: 60px;

  border: 3px solid white;
  color: white;
  font-weight: normal;
  background-color: transparent;

  /* border-radius: 3%; */
  cursor: pointer;
  text-align: center;

  z-index: 40;

  transition: background-color 0.5s;

  animation: slidein 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

.Main2-text-btn:hover {
  background-color: white;
  /* color: black; */
  color: #D4C9B7;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}