.Main-container {
  height: calc(100vh - 53.6px);
  display: flex;
  position: relative;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: space-between;
  overflow: hidden;
}


.Main-text {
  font-size: 54px;
  font-weight: bold;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 40px;
  
}

@media screen and (max-width: 768px) {
  .Main-text {
    font-size: 20px;
  }
}


.Main-button {
  font-size: 18px;
  font-weight: normal;
  
  display: flex;
  justify-content: right;


}

.Main-top-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-basis: 350px;

  position: relative;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.Main-circle-mini{
  position: absolute;
  
  background-color: #A7B5A8;
  border-radius: 100%;
  width: 100px;
  height: 100px;

  transform: translate(-70px, 135px);

  z-index: -1;
}

.Main-circle {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid gray;
  border-radius: 50%;
  width: 350px;
  height: 350px;

  z-index: 100;
  transform: translateX(-120px);
  /* 원의 위치 조정 */
}


.Main-bottom-wrap {
  /* border: 1px solid blue; */


}

.Main-card {
  /* border: 1px solid red; */
}