li {
  list-style: none;
}

.C-button {
  border: 1px solid black;
  background-color: transparent;
}

.slick-slider {
  margin: 0px 30px;
}


/* Card Css */

.Card-container {
  border: 1px solid pink;
  width: 200px;

}

.Card-title {
  font-size: 22px;
}

.Card-region {
  font-size: 34px;
}

.Card-hr {
  margin: 0;

}

.Card-hash {
  color: gray;
}




/* Page 공통 */

.page1-qurry{
font-weight: bold;
}

.Nextbtn{
  text-align: center;
}

input[type="radio"] {
  display: none;
}


.radioStyle span{
  text-align: center;
  height:40px;
  width:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #dcdcdc;
  box-sizing: border-box;
}

.radioStyle [type="radio"]:checked + span{
  /* border:3px solid #A7B5A8; */
  color:white;
  background-color: #A7B5A8;
  font-weight: 700;}




/* Page1 Css */


.page1-container{
  height: calc(100vh - 53.6px);

  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1-qurry{
  margin-top: 5px;
}

.page1-form{
  border: 1px solid black;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}

.page-radioStyle{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.page1-text{
  border: 1px solid black;
  text-align: center;
}


.page1-num {
  font-weight: bold;
  color: gray;
}



/* Page2 Css */





/* PageEnd Css */

.End-container {
  /* border: 1px solid black; */
  height: calc(100vh - 53.6px);
}

.End-recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.End-recommend-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.End-recommend-result-text {
  font-size: 28px;
  margin: 0px 40px;
}

.End-recommend-text-1 {
  display: flex;
  border: 1px solid black;
  width: 200px;
  justify-content: space-around;
  margin: 10px 40px;
  padding: 10px 10px;

background-color: #ECEBE7;

  font-size: 22px;
  font-weight: bold;

}

.End-recommend-text-1:hover {
  background-color: #A7B5A8;
}

.End-1 {
  color: gray;
  font-weight: normal;
  margin: 0px 10px;
}


.End-powerbi{
  font-size: 48px;
  margin-right: 50px;
}