@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

li {
  list-style: none;
}


.slick-slider {
  margin: 0px 0px;
  padding: 0px 100px 0px 100px;
}


/* Card Css */

.Card-container {
  /* border: 1px solid pink; */
  width: 220px;
  box-sizing: border-box;

  position: relative;

  /* animation: pageStart-slidein 0.6s ease-in-out;
  animation-fill-mode: forwards; */

}



/* .Card-container:hover{
background-color: #fafafa;
} */



/* .Card-container:hover .Card-hash {
  color: white;
}

.Card-container:hover .Card-hr {
  border-color: white;
}

.Card-container:hover .Card-img {
  display: block;
} */


.Card-title {
  font-size: 18px;
  margin-left: auto;

}

.Card-region {
  font-size: 28px;
  font-weight: bold;
}

.Card-hash {
  color: gray;
  transition: color 0.2s;
}

.Card-hr {
  border: 1px solid black;
  width: 100vw;
  transition: border-color 0.6s;
}


/* 카드에 이미지 넣을때 사용하려고 했는데 안 예쁜듯
.Card-img{
  position: absolute;
  margin: 0px;

  transform: translate(0px, -200px);
  width:220px;
  z-index: -1;
}

.Card-img-hover {
  width: 220px;
  height: 500px;
  object-fit: cover;
  padding: 10px;
  filter: grayscale(80%);
} */



/* carousel Css */

.carousel-btn {
  display: flex;
  justify-content: center;

}

.C-button {
  /* border: 1px solid black; */
  background-color: transparent;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}

.carousel-wrap {
  width: 100vw;
  /* background-color: red; */

}

.carousel-slider {
  /* border: 1px solid black; */
  display: flex;
  margin: 14px 0px;
  /* margin-left: 50px; */
}



/* Hcarousel Css */

.H-container {
  text-align: center;
}

.H-listName {
  font-size: 15px;
  margin: 20px 60px;
  /* font-weight: bold; */
  color: gray;
}

.H-wrap-slick {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  /* border: 1px solid black; */
}

.H-btn {
  font-family: 'GmarketSans';

  width: 50px;
  height: 30px;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid #dcdcdc;
}

.H-slider {
  width: 800px;
  /* border: 1px solid black; */
}

.slick-dots {
  right: 0%;
}

.H-div {
  text-align: center;
  /* border: 1px solid blue; */
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  transition: all 0.2s;

  display: flex;
}

.H-div:hover {
  /* background-color: rgb(220, 220, 200, 0.5); */
  border-radius: 10px;
  color: black;
  font-size:22px;

}

/* Page 공통 */

.page1-qurry {
  font-weight: bold;
}

/* 맞춤지역 추천페이지 버튼 css */


.Nextbtn {
  text-align: center;
  margin-top: 12px;
  /* border: 1px solid #dcdcdc; */

  display: flex;
  width: 40%;
  justify-content: space-around;

  /* margin: 12px 0px 10px 10px; */
}




.page1-btn {
  font-family: 'GmarketSans';

  cursor: pointer;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: black;

  width: 100px;
  height: 30px;
}



.page1-btn:disabled {
  background-color: transparent;
  color: #dcdcdc;
  /* color: white; */
}


/* ////////////////// */

input[type="radio"] {
  display: none;
}


.radioStyle span {
  text-align: center;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.radioStyle [type="radio"]:checked+span {
  /* border:3px solid #A7B5A8; */
  color: white;
  background-color: #A7B5A8;
  font-weight: 500;
}


/* PageStart Css */

.pageStart-container {
  height: calc(100vh - 67px);
  font-family: 'GmarketSans';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: pageStart-slidein 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pageStart-slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.pageStart-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageStart-home {
  animation: pageStart-home-slidein 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pageStart-home-slidein {
  from {
    opacity: 0;
    transform: translateY(3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pageStart-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 8px;
}

.pageStart-text {
  text-align: center;
  font-size: 16px;
  color: gray;
}

.pagestart-btn {
  font-family: 'GmarketSans';
  /* border: none; */
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-radius: 6px;

  width: 180px;
  height: 50px;

  font-size: 18px;

  transition: background-color 0.8s;

  margin-top: 24px;
}

.pagestart-btn:hover {
  background-color: #A7B5A8;
  color: white;
}

.span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  transition: background-color 0.2s;
}

.pagestart-btn:hover .span {
  padding-right: 30px;
}

.pagestart-btn:hover .span:after {
  opacity: 1;
  right: 0;
}


/* Page1 Css */


.page1-container {
  height: calc(100vh - 67px);

  font-family: 'GmarketSans';
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1-qurry {
  margin-top: 5px;
}

.page1-form {
  /* border: 1px solid black; */
  margin-top: 20px;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #dcdcdc; */

}

.page-radioStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.page1-form span {
  width: 150px;
  height: 50px;
}

.radioStyle {
  margin: 0px 10px 10px 10px;

}

.page1-text {
  /* border: 1px solid black; */
  text-align: center;
}

.page1-qurry {
  font-size: 18px;
}


.page1-num {
  font-weight: bold;
  color: gray;
}


/* checkbox Css */

.page-checkStyle {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;

  justify-content: center;
  align-items: center;
}

.checkboxStyle {
  margin: 10px 10px;
}

input[type="checkbox"] {
  display: none;
}

.checkboxStyle span {
  text-align: center;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}


.checkboxStyle [type="checkbox"]:checked+span {
  color: white;
  background-color: #A7B5A8;
  font-weight: 500;
}

.checkboxStyle [type="checkbox"]:disabled+span {
  color: white;
}



/* pagePriority css */


.page-priority {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page-btns{

  display: flex;

}

.page-priority-btn {
  font-family: 'GmarketSans';
  margin-right: 10px;
  height: 56px;
  width: 120px;
  border: 1px solid #dcdcdc;

  box-sizing: border-box;
  /* font-weight: bold; */
  font-size: 20px;

  transition: all 0.2s;
  text-align: center;

}

.page-priority-etc{
  font-size: 14px;
  font-weight: normal;
  color: gray;
}


.disabled{
  color: white;
  background-color: #A7B5A8;
}

.disabled .page-priority-etc{
  color: white;
}

.page-priority-2 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
  height: 30px;
  padding: 6px 20px;

  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-radius: 30px;

  transition: all 0.2s;
}

.page-priority-2:hover {
  background-color: gray;
  color: white;
}


.page-priority-rank {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 60px;
}


.page-priority-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 80px;

}

.page-priority-value {
  color: gray;
}

.page-rank-key {
  color: green;
}


.page-priority-form {
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #dcdcdc; */
}


.page-priority-nextbtn {
  text-align: center;
  /* margin-top: 12px; */
  /* border: 1px solid #dcdcdc; */

  display: flex;
  width: 40%;
  justify-content: space-around;

  /* margin: 12px 0px 10px 10px; */
}


/* PageEnd Css */

.End-container {
  font-family: 'GmarketSans';
  /* border: 1px solid black; */
  height: calc(100vh - 67px);

  display: flex;
  justify-content: space-between;
}

.End-recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.End-recommend-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.End-recommend-result-text {
  font-size: 28px;
  margin: 0px 40px;
}

.End-recommend-btn {
  display: flex;
  border: 1px solid black;
  width: 200px;
  justify-content: space-between;
  margin: 10px 40px;
  padding: 10px 5px;

  background-color: #ECEBE7;

  font-size: 22px;
  font-weight: bold;
}

.End-recommend-btn:hover {
  background-color: #A7B5A8;
}

.End-text-btn {
  display: flex;
  /* justify-content: space-between; */

  width: 250px;
}

.End-rank {
  color: gray;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 10px;
}

.End-first {
  font-size: 18px;
}

.End-heart {
  flex: none;
  margin: 0px 3px;
}

.End-powerbi {
  font-size: 48px;
  margin-right: 50px;
}



/* Powerbi Css */

.embededReport {
  margin: 0px;
  height: 80vh;
  width: 60vw;
}