@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

li {
  list-style: none;
}


.slick-slider {
  margin: 0px 0px;
  padding: 0px 100px 0px 100px;
}


/* Card Css */

.Card-container {
  /* border: 1px solid pink; */
  width: 220px;
  box-sizing: border-box;

  position: relative;

  transition: background-color 0.5s;
  transition: color 0.6s;

}


/* 
.Card-container:hover {
  background-color: black;
  color: white;

} */



/* .Card-container:hover .Card-hash {
  color: white;
}

.Card-container:hover .Card-hr {
  border-color: white;
}

.Card-container:hover .Card-img {
  display: block;
} */


.Card-title {
  font-size: 18px;
  margin-left: auto;

}

.Card-region {
  font-size: 28px;
  font-weight: bold;
}

.Card-hash {
  color: gray;
  transition: color 0.2s;
}

.Card-hr {
  border: 1px solid black;
  width: 100vw;
  transition: border-color 0.6s;
}


/* 카드에 이미지 넣을때 사용하려고 했는데 안 예쁜듯
.Card-img{
  position: absolute;
  margin: 0px;

  transform: translate(0px, -200px);
  width:220px;
  z-index: -1;
}

.Card-img-hover {
  width: 220px;
  height: 500px;
  object-fit: cover;
  padding: 10px;
  filter: grayscale(80%);
} */



/* carousel Css */

.carousel-btn {
  display: flex;
  justify-content: center;

}

.C-button {
  /* border: 1px solid black; */
  background-color: transparent;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}

.carousel-wrap {
  width: 100vw;
  /* background-color: red; */

}

.carousel-slider {
  /* border: 1px solid black; */
  display: flex;
  margin: 14px 0px;
  /* margin-left: 50px; */
}



/* Hcarousel Css */

.H-container{
  text-align: center;
}

.H-listName{
  font-size: 15px;
  margin: 20px 60px;
}

.H-wrap-slick{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.H-btn{
  font-family: 'GmarketSans';

  width: 50px;
  height: 30px;

  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #dcdcdc;
}

.H-slider{
width: 500px;
/* border: 1px solid black; */
}

.H-div{
  /* border: 1px solid blue; */
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 18px;

}




/* Page 공통 */

.page1-qurry {
  font-weight: bold;
}

/* 맞춤지역 추천페이지 버튼 css */

.Nextbtn {
  text-align: center;
  margin-top: 12px;
}

.pagestart-btn{
  font-family: 'GmarketSans';
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #dcdcdc;
  width: 100px;
  height: 30px;

  transition: background-color 0.5s;
}

.pagestart-btn:hover{
  background-color: #A7B5A8;
  color: white;
}



.page1-btn{
  font-family: 'GmarketSans';
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: black;
  width: 100px;
  height: 30px;
}



.page1-btn:disabled{
  background-color: transparent;
  color:#dcdcdc;
  /* color: white; */
}


/* ////////////////// */

input[type="radio"] {
  display: none;
}


.radioStyle span {
  text-align: center;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.radioStyle [type="radio"]:checked+span {
  /* border:3px solid #A7B5A8; */
  color: white;
  background-color: #A7B5A8;
  font-weight: 500;
}


/* PageStart Css */
.pageStart-container {
  height: calc(100vh - 67px);
  font-family: 'GmarketSans';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageStart-text {
  text-align: center;
}

/* Page1 Css */


.page1-container {
  height: calc(100vh - 67px);

  font-family: 'GmarketSans';
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1-qurry {
  margin-top: 5px;
}

.page1-form {
  /* border: 1px solid black; */
  margin-top: 20px;
  width: 600px;
  text-align: center;
  /* border: 1px solid #dcdcdc; */


}

.page-radioStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.page1-form span {
  width: 150px;
  height: 50px;
}

.radioStyle {
  margin: 0px 10px 10px 10px;
}

.page1-text {
  /* border: 1px solid black; */
  text-align: center;
}

.page1-qurry {
  font-size: 18px;
}


.page1-num {
  font-weight: bold;
  color: gray;
}



/* Page2 Css */

.page-checkStyle {
  margin-bottom: 16px;
}



/* PageEnd Css */

.End-container {
  font-family: 'GmarketSans';
  /* border: 1px solid black; */
  height: calc(100vh - 67px);

  display: flex;
  justify-content: space-between;
}

.End-recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
/* 
  border: 1px solid black; */

}

.End-recommend-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.End-recommend-result-text {
  font-size: 28px;
  margin: 0px 40px;
}

.End-recommend-btn {
  display: flex;
  border: 1px solid black;
  width: 200px;
  justify-content: space-between;
  margin: 10px 40px;
  padding: 10px 5px;

  background-color: #ECEBE7;

  font-size: 22px;
  font-weight: bold;
}

.End-recommend-btn:hover {
  background-color: #A7B5A8;
}

.End-text-btn {
  display: flex;
  /* justify-content: space-between; */

  width: 250px;
}

.End-rank {
  color: gray;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 10px;
}

.End-first {
  font-size: 18px;
}

.End-heart{
  flex: none;
  margin: 0px 3px;
}

.End-powerbi {
  font-size: 48px;
  margin-right: 50px;
}



/* Powerbi Css */
.embededReport {
  margin: 0px;
  height: 80vh;
  width: 60vw;
}